@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "Yekan";
    src: url("../../public/fonts/vazir-font-master/v/Vazir-Medium.woff");
  }
}

body {
  font-variant-numeric: persian;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* برای فایرفاکس */
}

/* about page */
.bg_contact-img {
  background: url("../../public/images/Contact/contact-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
