@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-border: #e5e7eb;
  --color-base: #242a38;
  --color-low: rgb(116, 121, 133);
  --color-bg: #fff;
  --color-card: #f9fafb;
  --color-bg-low: #f9fafb;
  --color-hover-low: #b1b1b1;
  --color-bg_hover-low: #f1f1f1;
  --color-red-base: #ef4444;
}

.dark {
  --color-border: #3a404c;
  --color-base: #f9f9f9;
  --color-low: #e0e3e7;
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-bg-low: #1f2937;
  --color-hover-low: #f8fafc;
  --color-bg_hover-low: #4b5563;
  --color-red-base: #ef4444;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300; /* وزن Light */
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400; /* وزن Regular */
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700; /* وزن Bold */
  font-style: normal;
}

body {
  font-variant-numeric: persian;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Remove number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* delete icon select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

/* Contact page background */
.bg_contact-img {
  background: url("../assets/images/Contact/contact-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Embla slider */
/* Embla slider */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 24%;
  min-width: 0;
  margin-right: 1%;
}

.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
}
